body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: #17181C;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}